@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{font-size:14px;
	word-spacing:1px;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Ubuntu', Arial, "libra sans", sans-serif;
	font-weight: 300;
	color:#333;
}
*{padding:0;margin: 0;border:none;outline:none;}
/*color*/
header,footer,.nav,#instantclick-bar{background: #980000;}
body,.displaybutton,.meta{background: #eee;}
/*custom*/
h1,h2,h3,h4{font-weight: 400;}
h1{font-size:1.6em;}
.content h1{text-align: center;padding:.5em 0;}
h2{font-size:1.4em;line-height:46px;}
h3{font-size:1.2em;line-height:40px;border-bottom: 1px solid #eee;}
h4{font-size:1em;}
a{color:#980000;text-decoration:none;}
a:hover{color:#dd0000;text-decoration:none;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
ol,ul{list-style-position:inside;margin-top: 14px;margin-bottom: 14px;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
p,ul{margin-bottom: 14px;margin-top: 14px;}
/*container*/
.container{
	min-width: 450px;
	max-width: 1000px;
	width: 55%;
	margin:0 auto;
	display:block;
	position: relative;
	-moz-box-shadow: 0 0 10px 0 #cfcfcf;
    -webkit-box-shadow: 0 0 10px 0 #cfcfcf;
	background-color:#ffffff;
}
/*header*/
header{padding:30px;display: block;position:relative;}
header h1 a{font-size: 30px;font-weight:300;color: #ffffff;padding: 10px 0px;}
.logo{top: 20px;right:30px;max-width: 100%;vertical-align: middle;position: absolute;margin: 2px;}
/*navigation*/
.nav{font-size: 14px;height: 30px;text-transform:uppercase;}
.nav ul{margin: 0;padding: 0;line-height: 30px;list-style: none;}
.nav li{float:left;width: 12.5%;height: 30px;}
.nav a{display:block;color:#ffffff;text-align: center;}
.nav a:hover{background-color:#ffffff;text-decoration:none;color:#980000;}
/*content*/
.content{padding: 30px 30px;line-height:2em;display: block;position: relative;}
.content img{max-width:100%;display:block;margin:4px auto;}
/*paginator*/
.paginator {color:#999999;margin: 20px 0;line-height: 150%;display: block;margin-left: auto;margin-right: auto;vertical-align: middle;text-align: center;}
.paginator a,.paginator span{padding: 4px 6px;margin: 2px;text-decoration: none;}
.paginator .current-page {color: white;background: #980000;}
.paginator a:hover{color: #ffffff;background: #980000;}
/*page*/
.pageNavLeft,.pageNavRight{font-weight:bold;font-size:14px;}
.pageNavInvalidLeft,.pageNavInvalidRight{font-weight:bold;font-size:14px;color:#D0D0D0;}
.pageNavLeft,.pageNavInvalidLeft{float: left;}
.pageNavRight,.pageNavInvalidRight{float: right;}
/*sharebutton*/
.displaybutton{font-size: 16px;width:100%; height:30px;vertical-align: middle; cursor: pointer;}
/*footer*/
footer{height: 45px;text-align:center;display:block;}
#social-icons ul{margin: 0;padding: 0;display: block;}
#social-icons ul li{width: 25%;display: block;float: left;}
/*post list*/
.post li{padding:0;}
.excerpt{margin-bottom: 30px;}
.listing li{list-style-type:none;}
.listing p{line-height: 24px;margin: 0; padding: 0;}
.listing-title{font-size: 24px;margin-bottom: 5px;}
.listing-classify{padding-bottom: 20px;}
.listing-classify-tag{font-size: 16px;}
.listing-classify-post{margin-left: 130px;margin-top: -25px;}
.listing-classify-post time{color:#999999;}
/*post info*/
.meta{font-size:12px;color:#999999;margin: 0 0 5px 0;padding: 5px;line-height: 100%;}
/*blockquote*/
blockquote{display:block;text-align:justify;border-left:4px solid #999999;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
/* code */
pre{overflow: auto;margin:1em 0;font-size:13px;line-height:1.5;}
.content li code,.content p code,.content table code {
	color: #4d4d4d;
	background: #f8f8f8;
	padding: 0 0.2em;
	border: 1px solid #eee;
	border-radius: 3px 3px;
	position: relative;
	top: -2px;
	margin: 0 3px;
	font-size:13px;
}
/*tag*/
#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333 !important;text-decoration:none;}


/*embed,object,iframe{display:block;margin:4px auto;}*/