/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-12-20
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body{font-size:14px;
	word-spacing:1px;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	font-family:"telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	color:#000000;
	background: #eee;
}

*{padding:0;margin: 0;border:none;outline:none;}
a{color:#980000;text-decoration:none;}
a:hover{color:#dd0000;text-decoration:none;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
.excerpt{margin-bottom: 30px;}
.listing p{line-height: 24px;margin: 0; padding: 0;}
.post li{padding:0;}
ol,ul{list-style-position:inside;margin-top: 14px;margin-bottom: 14px;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
p,ul{margin-bottom: 14px;margin-top: 14px;}

blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}

.container{
	min-width: 400px;
	max-width: 1000px;
	width: 55%;
	margin:0 auto;
	display:block;
	position: relative;
	-moz-box-shadow: 0 0 10px 0 #cfcfcf;
    -webkit-box-shadow: 0 0 10px 0 #cfcfcf;
	background-color:#ffffff;
}
.content{font-size:14px;padding: 30px 70px;line-height:2em;display: block;position: relative;}
.content img{max-width:640px;
	display:block;margin:4px auto;
	-webkit-box-shadow:#999 1px 1px 4px;
	-moz-box-shadow:#999 1px 1px 4px;
	box-shadow:#999 1px 1px 4px;
}

#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item{font-size:14px;list-style-type:none;}
.listing-seperator{font-size:16px;list-style-type:none;}
.listing-title{font-size: 24px;margin-bottom: 5px;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{font-size:12px;color:#888;background: #f4f3e9;margin: 0 0 5px 0;padding: 5px;line-height: 100%;}

.pageNavLeft,.pageNavRight{font-weight:bold;font-size:14px;}
.pageNavInvalidLeft,.pageNavInvalidRight{font-weight:bold;font-size:14px;color:#D0D0D0;}
.pageNavLeft,.pageNavInvalidLeft{float: left;}
.pageNavRight,.pageNavInvalidRight{float: right;}

header{padding:35px 40px 25px 40px;display: block;position:relative;background: #980000;}
header a{font-family: serif;font-size: 30px;color: #ffffff;}
.logo{top: 25px;right:30px;max-width: 100%;vertical-align: middle;position: absolute;margin: 2px;}

.nav{font-family:"Electrolize",sans-serif;font-size: 14px;height: 30px;text-transform:uppercase;background-color: #980000;}
.nav ul{margin: 0;padding: 0;line-height: 30px;list-style: none;background: #980000;}
.nav li{float:left;width: 12.5%;height: 30px;}
.nav a{display:block;color:#ffffff;text-align: center;}
.nav a:hover{background-color:#ffffff;text-decoration:none;color:#980000;}

h1,h2,h3,h4{font-family:"telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;}
h1{font-size:1.6em;color:#000;}
.content h1{text-align: center;padding:.5em 0;}
h2{font-size:1.4em;line-height:46px;color:#111;}
h3{font-size:1.2em;line-height:40px;color:#222;border-bottom: 1px solid #eee;}
h4{font-size:1em;color:#333;}

/* code */
pre{overflow: auto;
	margin:1em 0;
	font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace,"Microsoft YaHei";
	font-size:13px;
	line-height:1.5;
}
article li code,article p code,article table code {
	font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace,"Microsoft YaHei";
	color: #4d4d4d;
	background: #f8f8f8;
	padding: 0 0.2em;
	border: 1px solid #eee;
	border-radius: 3px 3px;
	position: relative;
	top: -2px;
	margin: 0 3px;
	font-size:13px;
}

embed,object,iframe{display:block;margin:4px auto;}
.gist{font-size: 12px;line-height:1.6;}

footer{font-size: 16px;height: 80px;text-align:center;display:block;background: #980000;}
footer a{color: #ffffff;text-decoration: none;}
footer p{font-size: 16px;color: #ffffff;}
footer a:hover {border-bottom: 1px dashed #BBB;text-decoration: none;color: #ffffff;}

.label {
	font-size:11.25px;
	font-weight:700;
	color:#ffffff;
	text-transform:uppercase;
	background-color:#999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:1px 3px 2px;
}
.label-important {background-color:#b94a48;}
.label-warning {background-color:#f89406;}
.label-success {background-color:#468847;}
.label-info {background-color:#3a87ad;}

.paginator {font: 14px Arial,Helvetica,sans-serif;
	color: #AAA;
	margin: 20px 0;
	line-height: 150%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	text-align: center;
}
.paginator a,.paginator span{padding: 4px 6px;margin: 2px;text-decoration: none;border: 2px solid #f4f3e9;}
.paginator .current-page {color: white;background: #980000;}
.paginator a:hover{color: #ffffff;background: #980000;}

.displaybutton{font-family: "Microsoft YaHei";font-size: 16px;width:100%; height:30px;background: #f4f3e9;color:#980000;vertical-align: middle; cursor: pointer;}
#instantclick-bar{background: #980000;}

#social-icons ul{margin: 0;padding: 0;display: block;height: 77px;}
#social-icons ul li{width: 33%;height: 42px;display: block;float: left;}
#social-icons ul li img{box-shadow: 0px 0px 0px #999}