---
title: 夕阳西下陈 天天向尚磊
layout: page
---

<div class="listing">
  <ul>
  {% for post in paginator.posts %}
    <li class="listing-item">
      <div class="listing-title">
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </div>
      <div class="meta">
        <span clas="time">修改 
          <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
        </span>
        <span  class="time">&nbsp;|&nbsp;创建&nbsp;
          <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.creatdate | date:"%Y-%m-%d" }}</time>
        </span>
        <span class="categories">&nbsp;|&nbsp;分类&nbsp;
        <a href="/categories/#{{ post.categories }}" title="{{ post.categories }}">{{ post.categories }}  </a>
        </span>
        <span class="author">&nbsp;|&nbsp;作者&nbsp; 
          <a href="{{ site.url }}">{{ site.author }}</a>
        </span>
      </div>
      {% if site.truncate %}
        <div class="excerpt">
          {{ post.excerpt }}
        <div>
      {% endif%}
    </li>
  {% endfor %}
  </ul>
</div>

<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/">前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}"><i class="fa fa-chevron-left"></i></a>
    {% endif %}
  {% else %}
    <span class="previous disabled"><i class="fa fa-chevron-left"></i></span>
  {% endif %}

      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="/page{{paginator.next_page}}"><i class="fa fa-chevron-right"></i></a>
  {% else %}
    <span class="next disabled" ><i class="fa fa-chevron-right"></i></span>
  {% endif %}
</div>