---
layout: default
---

<h1>{{ page.title }}</h1>

<section class="meta">
<span class="time">
  修改 
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
<span  class="time">
  | 创建 
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.creatdate | date:"%Y-%m-%d" }}</time>
</span>
</section>

<section class="post">
{{ content }}
</section>

<br/>
<br/>

<section>
<span>
	<a {% if page.previous %} href="{{ page.previous.url }}" class="pageNavLeft"{% endif %} {% unless page.previous %} class="pageNavInvalidLeft" {% endunless %} >&#10094; {{ page.previous.title }}</a>
	&nbsp;&nbsp;&nbsp;
	<a {% if page.next %} href="{{ page.next.url }}" class="pageNavRight"{% endif %} {% unless page.next %} class="pageNavInvalidRight" {% endunless %} >{{ page.next.title }} &#10095;</a>
</span>
</section>

<p></p>
<input type="button" onclick="display('display')" value="评论 &#8675; 分享" class="displaybutton"/>
<p></p>

<div id="display" style="display:none">
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style">
	  <span class="jiathis_txt">分享到：</span>
	  <a class="jiathis_button_tsina">新浪微博</a>
	  <a class="jiathis_button_qzone">QQ空间</a>
	  <a class="jiathis_button_renren">人人网</a>
	  <a class="jiathis_button_tqq">腾讯微博</a>
	  <a class="jiathis_button_weixin">微信</a>
	  <a href="http://www.jiathis.com/share?uid=1905053" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	</div>
	<script type="text/javascript">
	var jiathis_config = {data_track_clickback:'true'};
	</script>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1394036192262975" charset="utf-8"></script>
	<!-- JiaThis Button END -->

	{% include comments.md %}
</div>